In [130]:
import pandas as pd
import os
import opendatasets as od

import importlib
importlib.reload(functionality)
from functionality import *

In [99]:
#Extraction step
extraction()

Skipping, found downloaded files in ".\news-category-dataset" (use force=True to force download)
File downloaded to a: c:\Users\User\OneDrive\Рабочий стол\News\news-category-dataset\News_Category_Dataset_v3.json

In [124]:
#Loading step
file_path = 'news-category-dataset\\News_Category_Dataset_v3.json'
df = loading(file_path)
df.head(3)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23

In [125]:
#Transformation step
df = transform(df)

The number of NaN values is less than or equal to 3%.
Nan values are dropped successfully.
The number of duplicated rows is 0.006%.
Duplicated values are dropped successfully.
Column "date" converted to datetime.

In [133]:
#Loading step
file_saving(df, 'data/data_etl.parquet')